.form-container {
    width: 600px;
    border: 1px solid #95A0A7;
    box-sizing: border-box;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    margin: 0 auto;

}

.form-title {
    font-size: 35px;
    color: #5f696e;
    font-weight: 400;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
}

.input-group input {
    width: 415px;
    height: 55px;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 25px;
}


.form-submit {
    width: 415px;
    height: 55px;
    background-color: rgb(250, 187, 51);
    border-radius: 5px;
    border: none;
    font-size: 22px;
    cursor: pointer;

}

.form-submit :hover {
    background-color: rgba(255, 174, 0, 0.582);
}

.form-link {
    color: rgb(255, 166, 0);
    text-decoration: none;
}